{% extends "base.html" %}
{% block content %}
<table class="style1" align="center">
	<tr><h1>&nbsp</h1></tr>
	<tr>
		<h1 align='center'>Current Temp</h1>
	</tr>
	<tr>
		{% if currentTemp > selectedTemp + selectedRange %}
			<font color='red'><h1 align='center'>{{ currentTemp }}&#176 F</font></h1>
		{% elif currentTemp < selectedTemp %}
			<font color='blue'><h1 align='center'>{{ currentTemp }}&#176 F</font></h1>
		{% else %}
			<h1 align='center'>{{ currentTemp }}&#176 F</h1></p>
		{% endif %}
	</tr>
	<tr>
		<h1 align='center'>Power:&nbsp{% if status %}On{% else %}Off{% endif %}</h1>
	</tr>
	<tr>&nbsp</tr>
	<tr><h1 align="center">Current Temperature and Range Settings</h1></tr>
	<tr align="center">
		<td><h1>Temp</h1></td>
		<td><h1>Range</h1></td>
	</tr>
	<tr align="center">
		<td><h1>{{ selectedTemp }}</h1></td>
		<td><h1>{{ selectedRange }}</h1></td>
	</tr>
</table>

{% endblock %}